# ============================================
# Configuration Scraping Lead - Variables d'environnement
# Copier ce fichier en .env et remplir les valeurs
# ============================================

# --- Supabase ---
GETSALES_BASE_URL=https://amazing.getsales.io
# UUID de la liste GetSales par défaut
GETSALES_LIST_UUID=def11074-bdf3-40c6-b2af-0c20b6f3e710
GETSALES_FLOW_ADD_SCI_OWNER_UUID=b2a93bf7-e228-4a6c-b6dc-3b800036656b
GETSALES_FLOW_CONTACT_SCI_OWNER_UUID=7364c3df-fd4d-4aac-b834-f68e9e68129b
GETSALES_API_KEY=
#Supabase
SUPABASE_URL=https://mtvalzmtksnylhckrjze.supabase.co
SUPABASE_KEY=


# GetSales List UUIDs
GETSALES_NEW_SCI_LIST_UUID=cae70689-80ea-4820-ab22-8b06a9ef1bce
GETSALES_OLD_SCI_LIST_UUID=def11074-bdf3-40c6-b2af-0c20b6f3e710
GETSALES_NEW_COMPANY_LIST_UUID=82663f51-c6f4-4b77-b99f-3bbb844399dc

# Brevo API Keys (2 comptes)
BREVO_OPTI_HABITAT_API_KEY=
BREVO_DEVELLY_API_KEY=

##### OPTI HABITAT LIST IDs
BREVO_SCI_LOGICIEL_LIST=9
BREVO_SCI_OLD_LIST=6
BREVO_SCI_NEW_LIST=5
BREVO_AGENT_IMMO_LIST=4
BREVO_CGP_LIST=8
BREVO_MARCHAND_BIENS_LIST=10

##### Develly LIST IDs
BREVO_COMPTABLE_RUNING_LIST=12
BREVO_ASTIATIQUE_RUNING_LIST=11
BREVO_COMPTABLE_LIST=5
BREVO_ASTIATIQUE_LIST=6
BREVO_SERRURIER_LIST=16
BREVO_PLUMBER_LIST=15
BREVO_ELECTRICIAN_LIST=14

##### Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=

#### GOOGLE
# ID du Google Sheet principal (un seul fichier avec onglets par niche)
GOOGLE_SHEETS_MASTER_SPREADSHEET_ID=
GSHEETS_ADMIN_EMAIL=